/* ===============================================
#  color setting
=============================================== */
$primary: #ff326f;

$text: #444;
$background: #fffeff;

$gray: #666;
$lightGray: #ccc;

$green: #71d826;
$red: #f6544a;
$blue: #25d3e9;
$yellow: #ffed9a;

/* ===============================================
#  size setting
=============================================== */
$margin: 20px;
$width: 1050px;
